/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    font-size: 16px;
    line-height: 1.6;
}

header {
    background-color: #00aaff;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

header .contact-info a,
header .auth-location a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

.hero {
    position: relative;
    background: url('/img/hero-background.jpeg') no-repeat center center/cover;
    height: 100vh;
    color: white;
}

.hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.hero .hero-content {
    position: relative;
    z-index: 1;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.hero img {
    max-width: 150px;
}

.hero h1 {
    font-size: 2.5rem;
    margin: 20px 0;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.hero .options button {
    background-color: #00aaff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

.hero .search-form {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.hero .search-form label {
    margin-right: 5px;
}

.hero .search-form input,
.hero .search-form select,
.hero .search-form button {
    padding: 10px;
    border: none;
}

.hero .search-form button {
    background-color: #00aaff;
    color: white;
    cursor: pointer;
}

.benefits {
    text-align: center;
    padding: 50px 20px;
    background-color: #f9f9f9;
}

.benefits h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.benefit-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.benefit-item {
    flex: 1 1 calc(33.333% - 40px);
    max-width: calc(33.333% - 40px);
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.benefit-item img {
    width: 80px;
    margin-bottom: 10px;
}

.benefit-item h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.benefit-item p {
    font-size: 0.9rem;
    color: #555;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .benefit-item {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .benefit-item {
        flex: 1 1 100%;
        max-width: 100%;
    }
}


/* customr expr button */
#header {
    margin-top: 50px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

/* motorcycle tours */
h4 {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    background-color: #fdf6f6;
    padding: 20px;
}

.trip-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.trip {
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 5px;
    border-radius: 5px;
}

.trip img {
    width: 200px;
    height: 150px;
}

.view-details {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.details {
    display: none;
}


/* body {
    font-family: Arial, sans-serif;
    text-align: center;
  } */

.container1 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
}

h1 {
    font-size: 24px;
    margin-bottom: 30px;
    text-align: center;
}

.steps {
    display: flex;
    justify-content: space-around;
}

.step {
    text-align: center;
}

.step img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.footer {
    margin-top: 50px;
}

.footer {
    text-align: center;
}



/* Rent by in -> city name */

#header1 {
    padding: 20px;
}

.city-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #faf8f8;
}

.city-list p {
    text-align: center;
}

.city {
    width: 200px;
    margin: 20px;
}

.city img {
    width: 100%;
    border-radius: 50%;
}


/* Who We Are Page  */

.container2 {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 10px;
}

.buttons {
    margin-top: 20px;
    text-align: center;
}

.read-more,
.contact-us {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.read-more:hover,
.contact-us:hover {
    background-color: #3e8e41;
    /* Darker Green on hover */
}

/* Offers Page */

.offers-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
    background-color: #fff7f7;
}


.offer-item {
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.offer-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.offer-details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.offer-item:hover .offer-details {
    opacity: 1;
}

.offer-item h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.offer-item p {
    font-size: 18px;
    text-align: center;
}

.offer-item button {
    background-color: #ff6600;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

.arrow-left, .arrow-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 36px;
    color: #ccc;
    cursor: pointer;
}

.arrow-left {
    left: 20px;
}

.arrow-right {
    right: 20px;
}


/* Blog Page */
.blog-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff7f7;
}


h2 {
    text-align: center;
    margin-bottom: 40px;
}

.blog-post {
    margin-bottom: 40px;
}

.blog-info {
    font-size: 14px;
    color: #888;
    margin-bottom: 10px;
}

.blog-post img {
    width: 200px;
    height: 50%;
}

h3 {
    font-size: 24px;
    margin-top: 10px;
}

p {
    font-size: 16px;
    color: #555;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px 0;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.see-all-posts {
    display: block;
    margin: 0 auto;
    background-color: #007BFF;
}
